{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 9
  },
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier"
  ],
  "rules": {
    "no-console": 0
  },
  "env": {
    "browser": true
  }
}